.url-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 750px;
}

.url-input {
  display: flex;
  flex-direction: column;
}

.betting-lines {
  display: flex;
  flex-direction: row;
  width: 33%;
;}

.betting-line {
  display: flex;
  flex-direction: column;
}

.timer {
  margin-top: 1em;
}

.timer-view:disabled {
  background-color: dimgrey;
  color: linen;
  opacity: 1;
}
